<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Book">

<!--  -->

	<select id="selectAll" resultType="Book">
		select * from book order by book_id desc
	</select>
	
	<insert id="insert" parameterType="Book">
		insert into book(title,pub,price)
		values(#{title},#{pub},#{price})
	</insert>

</mapper>